body{
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/gradient-summer-background-videocalls_52683-61337.jpg?size=626&ext=jpg");
    background-size: cover;
}

#button_sort{
    display: none;
}

ol.guestlist>li
{
 padding-right: 35px;  

}